<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlankSpace.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E8196F31C8D51C800B82F8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E81970C1C8D51C800B82F8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E8197171C8D51C800B82F8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
